@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap);

body {
    background-color: #F2F2F2;
}

header {
    width: auto;
    height: 120px;
    margin-left: auto;
    margin-right: auto ;
    background-color: #3CA69B;
}

#marca {
    width: auto;
    height: 70px;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#botonera_principal {
    font-family: 'Source Sans 3', sans-serif;
    width: 400px;
    height: 40px;
    float: right;
    margin-top: 50px;
    margin-right: 500px; 
}

#botonera_principal ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: inline;
    white-space: nowrap;  
}

#botonera_principal ul li {
    display:inline;
    margin-right: 20px;
}

#botonera_principal ul li a {
    display: inline-block;
    padding: 10px;
    color: #F2F2F2;
    font-weight: bold;
    text-decoration: none;
}
#botonera_principal ul li a:hover {
    color: #F2F2F2;
    background-color: #287472;
}

#contenido_principal {
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

#presentacion {
    width: 400px;
    height: 400px;
    float: left;
    margin-bottom: 10px;
    padding: 10px;   
}

h2 {
    text-align: left;
    margin-top: 50px;
    font-size: 2.5rem;
}

#contenido_articulo {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

.slider-frame {
    width: 450px;
    height: 300px;
    float: right;
    margin-top: 50px;
    overflow: hidden; 
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}
